<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MÈME ory</title>
</head>
<body>
    <nav class="navbar bg-primary mb-3 shadow">
        <div class="container-fluid">
            <a class="navbar-brand d-flex" href="/">
                <img
                        class="d-inline-block align-top"
                        src="/src/assets/logo_take_my_money.png"
                        alt="logo"
                />
                <span class="align-self-center m-2">MÈME ory EPF</span>
            </a>
            <span class="navbar-title"></span>
        </div>
    </nav>
</body>
</html>